<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyu.mall.repository.HitokotoDao">
    <!--namespace指向的是Dao的包-->
    <select id="findAllData" parameterType="String" resultType="com.liuyu.mall.domain.Hitokoto">
        select hitokoto from hitokoto where id = #{id}
    </select>
</mapper>