<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyu.mall.repository.UserRoleDao">
    <!--namespace指向的是Dao的包-->
    <!--namespace中有的语句，这里必须要有，但是这里有的，namespace中可以没有。-->
    <select id="selectListByUserId" parameterType="String" resultType="com.liuyu.mall.domain.UserRole">
        select * from userRole where userid = #{userId}
    </select>
</mapper>